.rightborder {
  border-right: 1px solid #e9ecef;
}
.leftborder {
  border-left: 1px solid #e9ecef;
}
.rightborderwide {
  border-right: 3px solid #e9ecef;
}
.leftborderwide {
  border-left: 3px solid #e9ecef;
}
